[submodule "computer-vision/dummy-satellite-image-classification"]
	path = computer-vision/dummy-satellite-image-classification
	url = git@github.com:lfenzo/dummy-satellite-image-classification.git
[submodule "computer-vision/harvard-skin-cancer-classification"]
	path = computer-vision/harvard-skin-cancer-classification
	url = git@github.com:lfenzo/harvard-skin-cancer-classification.git
[submodule "tabular/inmet-solar-radiation-regression"]
	path = tabular/inmet-solar-radiation-regression
	url = git@github.com:lfenzo/inmet-solar-radiation-regression.git
[submodule "natural-langage-processing/poc-video-summarization"]
	path = natural-langage-processing/poc-video-summarization
	url = git@github.com:lfenzo/poc-video-summarization.git
